.carousel-parent {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='7.3' stroke-opacity='0.53' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-129.6 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-48.6 0 0) scale(0.514)'/%3E%3Cuse stroke='%23340331' href='%23a' transform='rotate(-40.5 0 0) scale(0.595)'/%3E%3Cuse stroke='%23420436' href='%23a' transform='rotate(-32.4 0 0) scale(0.676)'/%3E%3Cuse stroke='%2351063b' href='%23a' transform='rotate(-24.3 0 0) scale(0.757)'/%3E%3Cuse stroke='%235f093f' href='%23a' transform='rotate(-16.2 0 0) scale(0.838)'/%3E%3Cuse stroke='%236e0d42' href='%23a' transform='rotate(-8.1 0 0) scale(0.919)'/%3E%3Cuse stroke='%237c1244' href='%23a' transform=''/%3E%3Cuse stroke='%238b1945' href='%23a' transform='rotate(8.1 0 0) scale(1.081)'/%3E%3Cuse stroke='%23992045' href='%23a' transform='rotate(16.2 0 0) scale(1.162)'/%3E%3Cuse stroke='%23a62945' href='%23a' transform='rotate(24.3 0 0) scale(1.243)'/%3E%3Cuse stroke='%23b33244' href='%23a' transform='rotate(32.4 0 0) scale(1.324)'/%3E%3Cuse stroke='%23c03c42' href='%23a' transform='rotate(40.5 0 0) scale(1.405)'/%3E%3Cuse stroke='%23cb4740' href='%23a' transform='rotate(48.6 0 0) scale(1.486)'/%3E%3Cuse stroke='%23d5523c' href='%23a' transform='rotate(56.7 0 0) scale(1.567)'/%3E%3Cuse stroke='%23df5f39' href='%23a' transform='rotate(64.8 0 0) scale(1.648)'/%3E%3Cuse stroke='%23e76b34' href='%23a' transform='rotate(72.9 0 0) scale(1.729)'/%3E%3Cuse stroke='%23ef792f' href='%23a' transform='rotate(81 0 0) scale(1.81)'/%3E%3Cuse stroke='%23f58729' href='%23a' transform='rotate(89.1 0 0) scale(1.891)'/%3E%3Cuse stroke='%23fa9522' href='%23a' transform='rotate(97.2 0 0) scale(1.972)'/%3E%3Cuse stroke='%23fda31a' href='%23a' transform='rotate(105.3 0 0) scale(2.053)'/%3E%3Cuse stroke='%23ffb210' href='%23a' transform='rotate(113.4 0 0) scale(2.134)'/%3E%3Cuse stroke='%23ffc106' href='%23a' transform='rotate(121.5 0 0) scale(2.215)'/%3E%3Cuse stroke='%23FFD000' href='%23a' transform='rotate(129.6 0 0) scale(2.296)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.787);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech{
    color:rgba(255, 255, 255, 0.685);
}

.gallery {
    height: 150px;
    width: 150px;
    position: relative;
    transform-style: preserve-3d;
    animation: gallery 20s linear infinite;
}

.gallery span {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 30deg)) translateZ(500px);
    transition: all 1s;
}

.gallery:hover {
    animation-play-state: paused;
}

/* .gallery :hover svg {
    opacity: 0.2;
} */

.gallery span a {
    color: rgba(248, 248, 248, 0.787);
}

.gallery span a:hover {
    color: rgba(255, 251, 0, 0.904);
}

.gallery span svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent,  rgba(255, 166, 0, 0.24));
    transition: all 1s;
}

.gallery span svg:hover {
    transition: all 1s;
    transform: scale(1.5);
}

@keyframes gallery {

    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}