.menu-icon {
    color: rgba(12, 12, 12, 0.52);
    font-size: 70px;
    margin: 20px;
    border-radius: 20px;
    z-index: 2;
    /* box-shadow: 5px 5px 50px white; */
}

.menu-icon:hover {
    color: white;
    cursor: pointer;
}

.show-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fbff0099;
    height: 65vh;
    width:30%;
    border-bottom-left-radius: 45%;
    transition: all 0.5s;
    
    
}

.hide-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: all 0.5s;
}
ul li {
    color:rgb(190, 33, 33);
    list-style: none;
    margin-top: 25px;
}

ul a {
    color:rgb(247, 243, 243);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

ul a:hover {
    color: rgb(253, 249, 5);
    text-shadow: 5px 5px 50px white;
}

.active {
    border: 5px solid white;
    padding : 10px;
    border-radius: 10px;
}

.active a {
    color: white;
    font-weight: bold;
}




@media(max-width: 750px){
    .show-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #ffee05c5;
        height: 100vh;
        width:100%;
        transition: width 0.5s;
        overflow: hidden;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: 2px solid rgba(243, 8, 8, 0.445);
        
        
    }

    .hide-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        overflow: hidden;
        height: 0;
        width: 0;
        transition: all 0s;
    }

    .menu-icon {
        color: rgba(253, 1, 1, 0.52);
        font-size: 70px;
        margin: 20px;
        border-radius: 20px;
        z-index: 2;
        /* box-shadow: 5px 5px 50px white; */
    }

    .menu-icon:hover {
        color: white;
        cursor: pointer;
    }


}